body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px beige;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 30px;
    border-radius: 50%;
    background-color: rgb(183, 140, 85);
    width: 80px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 0 20px rgb(109, 67, 11);
}

nav ul li a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

nav ul li a:active {
    transform: scale(0.95);
}


.apropos .ligne{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.apropos .ligne .contenu{
    font-size: 1.5rem;
    line-height: 1;
    flex: 2 2 45rem;
    padding: 1rem;
}
.trait{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 355px;
    height: 3px;
    background-color: rgb(109, 67, 11);
}
.apropos .ligne h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(109, 67, 11);
}

.apropos .ligne p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(109, 67, 11);

}

footer {
    background-color: rgb(109, 67, 11); /* Couleur de fond similaire à celle des éléments de navigation et autres détails */
    color: #fff; /* Texte blanc pour contraster avec le fond sombre */
    padding: 20px 0; /* Un peu de padding pour l'espacement interne */
    text-align: center; /* Centrer le contenu du footer */
    font-size: 0.9rem; /* Une taille de police légèrement réduite par rapport au contenu principal */
    border-top: 5px solid rgb(183, 140, 85); /* Une bordure supérieure pour séparer le footer du contenu de la page */
}

