body {
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    background-color: #dec8a0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #c99169;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f5deb3;
    font-size: 36px;
    margin-bottom: 20px;
}

.description {
    color: #8b4513;
    font-size: 16px;
}

.description ul {
    list-style-type: none;
    padding: 0;
}

.description ul li {
    margin-bottom: 5px;
}
