body {
    background-image: url("acl.jpg");
background-size: cover;

}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 0PX;
    width: 150px;
   
}

nav {
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    display:flex;
    justify-content: center;
}

nav ul li {
    margin-right: 30px;
    border-radius: 50%;
    background-color: rgb(183, 140, 85);
    width: 80px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 0 20px rgb(109, 67, 11);
}

nav ul li a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

.ecriture{
    display: block;
    line-height: 0.5;
   margin-left: 70px;
   margin-top: 90PX;
   color: rgb(12, 7, 0);
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   font-size: 40px;
}

.button   { 
   
    margin-left: 300px;
   margin-bottom: 90PX;
   width: 250px;
   height: 50px;
    background-color: #aa5b2e; 
    border: #160101;
    border-radius: 50px; 
    cursor:pointer; 
   
}
.button a {
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button a:hover{
color: rgb(212, 212, 208);
}






 

