body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: burlywood;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Pour séparer le logo et le menu */
    align-items: center;
}

.logo {
    width: 70px; /* Taille du cercle */
    height: 70px; /* Taille du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    overflow: hidden; /* Pour cacher le dépassement de l'image */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.logo img {
    width: 100%; /* Remplir le cercle */
    height: auto; /* Ajuster la hauteur en conséquence */
    box-shadow: 0 0 20px rgb(109, 67, 11);
}

nav {
    margin-left: auto; /* Pour placer le menu à droite */
    margin-right: auto; /* Pour centrer le menu */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Utiliser Flexbox pour centrer les éléments du menu */
    justify-content: center; /* Centrer horizontalement */
}

nav ul li {
    margin-right: 30px; /* Espacement entre les éléments du menu */
    border-radius: 50%; /* Pour créer un cercle */
    background-color:rgb(183, 140, 85); /* Fond du cercle */
    width: 80px; /* Taille du cercle */
    height: 70px; /* Taille du cercle */
    text-align: center; /* Pour centrer le texte horizontalement */
    line-height: 70px; /* Pour centrer le texte verticalement */
    box-shadow: 0 0 20px rgb(109, 67, 11);
}

nav ul li a {
    text-decoration: none;
    color: beige;
    font-weight: bold;
    transition: color 0.3s ease; /* Ajouter une transition de couleur au survol */
    animation: fadein 3s; /* Ajouter une animation de fondu */
}

nav ul li a:hover {
    color: #fff; /* Changement de couleur au survol */
}

nav ul li a:active {
    transform: scale(0.95); /* Réduction de la taille lors du clic */
}


.welcome-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}

.welcome-text {
    margin-left: 20px;
    margin-top: 20px;
    color:rgb(109, 67, 11) ;
    font-size: 24px; /* Agrandir la taille du texte */
    animation: fadein 3s; /* Ajouter une animation de fondu */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 2; }
}

.restaurant-image img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 20px rgb(109, 67, 11);
    animation: subtle-pulse 3s infinite alternate; /* Animation de pulsation subtile */
}
@media (min-width: 768px) {
    .restaurant-image img {
        border-radius: 50%;
        width: 400px;
        height: 400px;
        box-shadow: 0 0 20px rgb(109, 67, 11);
        animation: zoom-in 1s forwards; /* Animation de zoom-in */
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0); /* Taille initiale */
        opacity: 0; /* Opacité initiale */
    }
    to {
        transform: scale(1); /* Taille finale */
        opacity: 1; /* Opacité finale */
    }
}


