body {
    margin: 0;
    font-family: Arial, sans-serif;
   background-color: rgb(95, 15, 15);
     background-image: linear-gradient(to left,rgb(46, 18, 15),rgba(95,  15, 15));
}


header {
    text-align: center;
    padding: 10px;
  padding-top: 30PX;
    
}
.logo {
    width: 70px; /* Taille du cercle */
    height: 70px; /* Taille du cercle */
    border-radius: 50%; /* Pour créer un cercle */
    overflow: hidden; /* Pour cacher le dépassement de l'image */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.logo img {
    width: 100%; /* Remplir le cercle */
    height: auto; /* Ajuster la hauteur en conséquence */
}

nav {
    margin-left: 10px; /* Espacement entre le logo et le menu */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Espacement entre les éléments du menu */
  
}

nav ul li a {
    text-decoration: none;
     color: #050505;
    font-weight: bold;
}
ul li a:hover{
color:rgb(238, 226, 221);
}

.welcome-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}

.welcome-text {
    margin-left: 20px;
    margin-top: 20px;
}

.restaurant-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
}
