body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#DDD3C8;
.container {
    display: flexbox;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
header {
    text-align: center;
 
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a {
    text-decoration: none;
    color: black;
}
ul li a:hover {
    color: beige;
}
.category-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.category-icon {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
.category-icon img {
    width: 105px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px black;
}
.category-icon p {
    margin-top: 5px;
    text-align: center;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.menu ul li {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px black;
}
.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.menu-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.item-name {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}
.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 2px solid  rgb(14, 53, 12);
}
.item-details .price {
    margin: 0;
}
.order-counter {
    display: flex;
    align-items: center;
}
.counter-btn {
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid rgb(12, 48, 12);
    background-color:rgb(155, 155, 149);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.counter-btn:hover {
    background-color: rgb(155, 155, 149);
}
.quantity {
    width: 40px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: 2px solid  rgb(12, 48, 12);
    border-radius: 5px;
    margin: 0 10px;
    background-color: rgb(155, 155, 149);
    cursor: default;
}
.order-window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    background-color:  rgb(14, 53, 12);
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}
.order-window h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}
.order-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}
.order-list li {
    margin-bottom: 10px;
    font-size: 16px;
}
.checkout-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    color: rgb(245, 242, 239);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.checkout-btn:hover {
    background-color: rgb(161, 149, 133);
}
.confirmation-message {
    display: none;
    position: fixed;
    top: 30%; /* Place le message à 20px du haut */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 235, 205); 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
}


